body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
  background-color: aliceblue;
}

section {
  background-color: aqua;
}

article {
  background-color: antiquewhite;
}


nav {
  background-color:black;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: azure;
  margin-left: 10px;
  font-size: large;
  text-decoration: none;
}


a {
  color: #00B7FF;
}
